#version 460 core

uniform mat4 uProjView;
uniform vec2 uTimeRotation; // shared time rotation, precomputed on the CPU

layout(std430) readonly buffer PackedInstances {
    uvec4 instances[];
};

out vec3 vColor;

void main() {
    uvec4 instanceData = instances[gl_InstanceID];
    vec2 translationXY = unpackHalf2x16(instanceData.x);
    vec2 translationZScale = unpackHalf2x16(instanceData.y);
    float instanceScale = translationZScale.y;
@LOCAL_POSITION@
@ROTATE_LOCAL@

    vColor = unpackUnorm4x8(instanceData.w).rgb;
    gl_Position = uProjView * vec4(
        local + vec3(translationXY, translationZScale.x), 1.0);
}
